<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="static/signup.css">

    <link rel="shortcut icon" href="static/images/logo2.png">

    <title>Login Rotterdam Academy</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <a class="logo" href="login.html"><img src="static/images/logo.svg"></a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <form method="post" action="/signup">
                    <div class="text-center head_signup_form">
                        <div>Registreren</div>
                    </div>
                    <div class="body_signup_form">
                        <div style="float: left;">
                            <div class="input_text">Naam</div>
                            <input class="signup_input_name" type="text" name="Name">
                        </div>
                        <div style="float: right;">
                            <div class="input_text">Achternaam</div>
                            <input class="signup_input_name" type="text" name="Surname">
                        </div>
                        <div>
                            <div class="input_text">Wachtwoord</div>
                            <input class="signup_input" type="password" name="Password">
                        </div>
                        <div class="signup_button">
                            <input type="submit" value="Inloggen" name="SignupButton">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="d-flex align-items-center justify-content-between" style="height: 80px;">
                    <div class="footer_link">
                        <a class="footer_item" href="login" name="LoginPageButton" action="/signup">Inloggen</a>
                    </div>
                    <div class="footer_contact">
                        <a class="footer_item" href="tel:+310107941111">010 - 794 1111</a>
                        <a class="footer_item" href="mailto:service@hr.nl">service@hr.nl</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>